/*
jQuery.ganttView v.0.8.0
*/

div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-hzheader-hour,
div.ganttview-vtheader,
div.ganttview-vtheader-item-name,
div.ganttview-vtheader-series,
div.ganttview-grid,
div.ganttview-grid-row-cell {
	float: left;
}

div.ganttview-hzheader-month,
div.ganttview-hzheader-day,
div.ganttview-hzheader-hour {
	text-align: center;
}

div.ganttview-grid-row-cell.last,
div.ganttview-hzheader-day.last,
div.ganttview-hzheader-month.last,
div.ganttview-hzheader-hour.last {
	border-right: none;
}

div.ganttview {
	border: 1px solid #999;
	font-family: 'Helvetica', 'Arial', sans-serif;
	float: left;
	position: relative;
}

lable.show-empty-chbx-lbl{
	margin-bottom: 2px; 	
}


/* Horizontal Header */
div.ganttview-hzheader-day ,
div.ganttview-hzheader-month {
	height: 19px;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;	
	line-height: 20px;
	font-size: 13px;
	color: #777;
}

div.ganttview-hzheader-hour{
	height: 19px;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #d0d0d0;	
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: #777;
}
}

div.ganttview-hzheader-hour{
	line-height: 20px;
}

/* Vertical Header */

div.ganttview-vtheader {
	/*margin-top: 41px;*/
	width: 270px;
	overflow: hidden;
	background-color: #f0f0f0;
}

div.ganttview-statusses-info{
	width: 270px;
	height: 18px;
	overflow: hidden;
	position: relative;
	background-color: #f0f0f0;
	border-top: 1px solid #999;
}

div.ganttview-statuss-info{
	width: 60px;
	overflow: hidden;
	float: left;	
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666;
	margin-left: 3px;
	margin-top: 2px;

}

div.ganttview-vtheader-info {
	height: 40px;
	overflow: hidden;
	position: relative;
	background-color: #d0d0d0;
}
div.ganttview-vtheader-info-tables {
	position: absolute;
	border-style: solid;
	border-width: 40px 0 0 270px;
	z-index: 1;	
	border-color: transparent transparent transparent #f9f9f9;
}
div.ganttview-vtheader-info-tables-text,
div.ganttview-vtheader-info-timeline-text{
	position: absolute;
	z-index: 2;	
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #999;
}

.horizontal-scrollbar{
       overflow-x: visible; /*for horizontal scroll bar */
       overflow-y: hidden; /*for hiding vertical scroll bar */
}

div.ganttview-vtheader-info-tables-text{
	left: 5px;
	bottom: 5px;
}

div.ganttview-vtheader-info-timeline-text{
	right: 5px;
	top: 5px;
}

div.ganttview-vtheader-info-timeline {
	margin-top: -1px;
	position: absolute;
	border-style: solid;
	border-width: 0 270px 40px 0;
	border-color: transparent #f9f9f9 transparent transparent;
	z-index: 1;
}

div.ganttview-vtheader-item {
	overflow: hidden;
	color: #666;
}

div.ganttview-vtheader-item-name {
	width: 100px;
	padding-left: 5px;
	border-top: 1px solid #d0d0d0;
	line-height: 16px;
}

div.ganttview-vtheader-series-name {
	width: 130px;
	height: 31px;
	border-top: 1px solid #d0d0d0;
	line-height: 16px;
	padding-left: 5px;
}


/* Slider */

div.ganttview-slide-container {
	width: 100%;
	overflow: auto;
	border-left: 1px solid #999;
}


/* Grid */

div.ganttview-grid-row-cell {
	height: 31px;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	/*border-bottom: 1px solid #666;*/
}

div.ganttview-grid-row-cell.ganttview-weekend {
	background-color: #fafafa;
}


/* Blocks */

/*div.ganttview-blocks {
	margin-top: 40px;
}*/

div.ganttview-block-container {
	height: 32px;
	/*padding-top: 4px;*/
	position: relative;
}

div.ganttview-block {
	position: absolute;
	float: left;
	height: 29px;
	margin-top: 1px;
	background-color: #E5ECF9;
	border: 1px solid #c0c0c0;
}

div.ganttview-block-sla{
    position: absolute;
	float: left;
	height: 31px;
	background-color: #FF0000;
}

div.ganttview-block-text {
	position: absolute;
	height: 12px;
	font-size: 0.6em;
	color: #999;
	padding: 2px 3px;
}


/* Adjustments for jQuery UI Styling */

div.ganttview-block div.ui-resizable-handle.ui-resizable-s {
	bottom: -0;
}

div.ganttview-hzheader:after,
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

div.ganttview-statuss-info:hover{
	color: white;
	cursor: pointer;
}